@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

@import "tailwindcss";


@theme {
  @keyframes pulse-slow {
      0%, 100% { opacity: 0.6; transform: scale(1); }
      50% { opacity: 1; transform: scale(1.05); }
    }
  
  --animate-pulse-slow : pulse-slow 6s ease-in-out infinite;
  
  --font-arabic:"Amiri", serif;

  
  --bg-main: #1a1a1a;
  --card-main: #1A2327;
  --card-sidebar: #1b1b1b;
  --text-main: #E0E0D6;
  --text-subtle: #C9C9B8;
  --primary: #B8860B;
  --primary-accent: #FFD700;
  --border-main: rgba(184, 134, 11, 0.3);
  --border-sidebar: rgba(184, 134, 11, 0.5);
  
}





